services:
  postgres:
    image: postgres:18.1
    container_name: postgres_18
    environment:
      POSTGRES_DB: fastapi
      POSTGRES_USER: POSTGRES
      POSTGRES_PASSWORD: POSTGRES
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
